<h1>Detalles de {{title}}</h1>

<h3>Descripción</h3>
<p>{{description}}</p>

<h3>Puntuación</h3>
<p>{{rating}} sobre 10</p>

<h3>Autor/a</h3>
<p>{{author}}</p>

<a href="/libros/listado">Volver al listado</a>