<h1>{{title}} 游</h1>
<hr>
<h3>Route params</h3>
<ul>
    <li>
        <a href="/vuelos/origen/berlin/destino/barna/020922">Ejemplo b치sico 1.1</a>,
        <a href="/vuelos/origen/malaga/destino/praga/091222">Ejemplo b치sico 1.2</a>
    </li>
    <li>
        <a href="/usuarios/popino-the-best-doggy">Ejemplo b치sico 2.1</a>,
        <a href="/usuarios/sandrabosk">Ejemplo b치sico 2.2</a>
    </li>
</ul>

<hr>

<h3>Query strings</h3>
<ul>
    <li>
        <a href="/tienda?clothe=pantalon&color=rojo&season=invierno&size=M">Ejemplo b치sico 1.1</a>,
        <a href="/tienda?clothe=shorties&color=verde&season=verano&size=XXL">Ejemplo b치sico 1.2</a>
    </li>
</ul>

<hr>

<h3>Form handling!</h3>
<ul>
    <li>
        <a href="/buscador">Formulario tipo GET (buscador prendas)</a>
    </li>
    <li>
        <a href="/registro">Formulario tipo POST (registro de usuario)</a>
    </li>
</ul>