<h1>Buscador de productos</h1>

<form action="/resultados" method="GET">

    <label>
        <p>Prenda</p>
        <input type="text" placeholder="Indica la prenda...." name="clothe">
    </label>

    <label>
        <p>Color</p>
        <input type="text" placeholder="Indica el color...." name="color">
    </label>

    <label>
        <p>Temporada</p>
        <input type="text" placeholder="Indica la temporada...." name="season">
    </label>

    <label>
        <p>Talla</p>
        <input type="text" placeholder="Indica la talla...." name="size">
    </label>

    <br><br>

    <input type="submit" value="Mostrar resultados">

</form>