<h1>Resultados de tu búsqueda</h1>

<p>Aquí mostrarías los resultados de Mongoose tras buscar {{clothe}} de color {{color}} y talla {{size}} para temportada
    {{season}}</p>

<a href="/buscador">Volver al formulario</a>