<h1>Registro de usuario</h1>

<form action="/registro" method="POST">

    <label>
        <p>Usuario</p>
        <input type="text" placeholder="Indica tu usuario...." name="username">
    </label>

    <label>
        <p>Contraseña</p>
        <input type="password" placeholder="Indica tu contraseña...." name="password">
    </label>

    <br><br>

    <input type="submit" value="Registrarme">

</form>